{# fabric wide RP config #}
{% if type == "leaf_red" %}
      {{ rp_blocks.RP_RED.rp_ip }}:
        groups:
{%   for mcast_group in rp_blocks.RP_RED.rp_groups %}
          {{ mcast_group }}:
{%   endfor %}
{% elif type == "leaf_blue" %}
      {{ rp_blocks.RP_BLUE.rp_ip }}:
        groups:
{%   for mcast_group in rp_blocks.RP_BLUE.rp_groups %}
          {{ mcast_group }}:
{%   endfor %}
{% elif type == "leaf_purple" %}
      {{ rp_blocks.RP_RED.rp_ip }}:
        groups:
{%   for mcast_group in rp_blocks.RP_RED.rp_groups %}
          {{ mcast_group }}:
{%   endfor %}
      {{ rp_blocks.RP_BLUE.rp_ip }}:
        groups:
{%   for mcast_group in rp_blocks.RP_BLUE.rp_groups %}
          {{ mcast_group }}:
{%   endfor %}
{% elif type == "spine_red" %}
      {{ rp_blocks.RP_RED.rp_ip }}:
        groups:
{%   for mcast_group in rp_blocks.RP_RED.rp_groups %}
          {{ mcast_group }}:
{%   endfor %}
{% elif type == "spine_blue" %}
      {{ rp_blocks.RP_BLUE.rp_ip }}:
        groups:
{%   for mcast_group in rp_blocks.RP_BLUE.rp_groups %}
          {{ mcast_group }}:
{%   endfor %}
{% endif %}