{# Fabric wide Prefix Lists #}
  PL-BLUE:
    sequence_numbers:
      10:
        action: "permit 10.{{ bid }}.128.0/19 le 32" 
      20:
        action: "permit 10.{{ bid }}.160.0/19 le 32" 
      30:
        action: "permit 10.{{ bid }}.192.0/19 le 32" 
  PL-CTRL:
    sequence_numbers:
      10:
        action: "permit 10.{{ bid }}.1.0/24 le 31" 
      20:
        action: "permit 10.{{ bid }}.224.0/20 le 31" 
  PL-INFRA:
    sequence_numbers:
      10:
        action: "permit 10.{{ bid }}.251.0/24 le 31" 
      20:
        action: "permit 10.{{ bid }}.255.0/24 le 31" 
      30:
        action: "permit 10.{{ bid }}.253.0/24 eq 32"
  PL-PURPLE:
    sequence_numbers:
      10:
        action: "permit 10.{{ bid }}.96.0/19 le 32"   
  PL-RED:
    sequence_numbers:
      10:
        action: "permit 10.{{ bid }}.0.0/19 le 32" 
      20:
        action: "permit 10.{{ bid }}.32.0/19 le 32" 
      30:
        action: "permit 10.{{ bid }}.64.0/19 le 32" 