{# Fabric wide Community Lists #}
  CL-RED:
      action: "permit 65{{ bid | my_zfill(3) }}:201"
  CL-BLUE:
      action: "permit 65{{ bid | my_zfill(3) }}:202"
  CL-PURPLE:
      action: "permit 65{{ bid | my_zfill(3) }}:203"
  CL-INFRA:
      action: "permit 65{{ bid | my_zfill(3) }}:205"
