{# Management API MODELS #}
{% if management_api_models is defined and management_api_models is not none %}

## Management API models

### Management API models configuration

{%     if management_api_models.providers is arista.avd.defined %}

| PROVIDER | PATH | IPv4 Unicast | IPv6 Unicast |
| -------- | ---- | ------------ | ------------ |
{%         for provider in management_api_models.providers | arista.avd.natural_sort %}
{%             if management_api_models.providers[provider].ipv4_unicast is true %}
{%                 set ipv4_u = "Enabled" %}
{%             else %}
{%                 set ipv4_u = "-" %}
{%             endif %}
{%             if management_api_models.providers[provider].ipv6_unicast is true %}
{%                 set ipv6_u = "Enabled" %}
{%             else %}
{%                 set ipv6_u = "-" %}
{%             endif %}
{%             if management_api_models.providers[provider].paths is defined %}
{%                 for path in management_api_models.providers[provider].paths | arista.avd.natural_sort %}
| {{ provider }} | {{ path }} | {{ ipv4_u }} | {{ ipv6_u }} |
{%                 endfor %}
{%             else %}
| {{ provider }} | "-" | {{ ipv4_u }} | {{ ipv6_u }} |
{%             endif %}
{%         endfor %}
{%     endif %}

### Management API models configuration

```eos
{%     include 'eos/management-api-models.j2' %}
```
{% endif %}