ethernet_interfaces:
{% if ethernet_interfaces is defined %}
{%   for interface in ethernet_interfaces %}
  {{ interface }}:
    description: {{ ethernet_interfaces[interface].description }}
    load_interval: {{ ethernet_interfaces[interface].load_interval }}
    shutdown: false
    speed: {{ ethernet_interfaces[interface].speed }}
    ip_address: {{ ethernet_interfaces[interface].ip_address }}
{%     if ethernet_interfaces[interface].ip_address_secondaries is defined %}
    ip_address_secondaries:
{%       for secondary_ip_address in ethernet_interfaces[interface].ip_address_secondaries %}
    - {{ secondary_ip_address }}
{%       endfor %}    
{%     endif %}
{%     if ethernet_interfaces[interface].ip_helper_address is defined %}
    ip_helper_address: {{ ethernet_interfaces[interface].ip_helper_address }}
{%     endif %}     
{%     if ethernet_interfaces[interface].pim is defined %}
    pim:
      ipv4:
        sparse_mode: true
{%     endif %}
{%     if ethernet_interfaces[interface].ptp is defined %}
    ptp:
      enable: true
      announce:
        interval: 0
      delay_req: -3
      sync_message:
        interval: -3
      role: master
{%     endif %}
    type: {{ ethernet_interfaces[interface].type }}
{%   endfor %}
{% endif %}