{% set mgmt_ip = switch_data.node.mgmt_ip | ansible.netcommon.ipaddr("address") %}
{% set mgmt_ip_last_octet = mgmt_ip.split('.')[3] | int  %}
{{ switch_vtep_loopback_ipv4_pool | ansible.netcommon.ipaddr("network") | ansible.netcommon.ipmath( mgmt_ip_last_octet ) }}
