{# MCS Client #}
{% if mcs_client is arista.avd.defined %}
!
mcs client
{%     if mcs_client.cvx_secondary.name is arista.avd.defined %}
   cvx secondary {{ mcs_client.cvx_secondary.name }}
{%     else %}
   cvx secondary default
{%     endif %}
      no shutdown
{%     if mcs_client.cvx_secondary.server_hosts is arista.avd.defined %}
{%         for server_host in mcs_client.cvx_secondary.server_hosts |arista.avd.natural_sort() %}
      server host {{ server_host }}
{%         endfor %}
{%     endif %}
{%     if mcs_client.cvx_secondary.source_interface is arista.avd.defined %}
      source-interface {{ mcs_client.cvx_secondary.source_interface }}
{%     endif %}
{%     if mcs_client.cvx_secondary.heartbeat_interval is arista.avd.defined %}
      heartbeat-interval {{ mcs_client.cvx_secondary.heartbeat_interval }}
{%     endif %}
{%     if mcs_client.cvx_secondary.heartbeat_timeout is arista.avd.defined %}
      heartbeat-timeout {{ mcs_client.cvx_secondary.heartbeat_timeout }}
{%     endif %}
{%     if mcs_client.cvx_secondary.vrf is arista.avd.defined %}
      vrf  {{ mcs_client.cvx_secondary.vrf }}
{%     endif %}
{% endif %}