{% set switch_data = namespace() %}
{% set spineb_data = namespace() %}
{% set spiner_data = namespace() %}
{% include 'designs/rt-media/facts/switch/logic.j2' %}

{% include 'designs/rt-media/facts/switch/switch.j2' %}