{% set mgmt_ip = switch.mgmt_ip| ansible.utils.ipaddr("address") %}
{% set mgmt_ip_last_octet = mgmt_ip.split('.')[3] | int  %}
{{ switch_vtep_loopback_ipv4_pool | ansible.utils.ipaddr("network") | ansible.utils.ipmath( mgmt_ip_last_octet ) }}
