{# Leaf P2P interfaces #}
{% for ptp_interface in switch.ptp_interfaces %}
  {{ ptp_interface }}:
    peer: {{ switch.ptp_peer_devices[loop.index0] }}
    peer_interface: {{ switch.ptp_peer_interfaces[loop.index0] }}
    peer_type: ptp
    description: PTP_LINK_TO_{{ switch.ptp_peer_devices[loop.index0] | upper }}_{{ switch.ptp_peer_interfaces[loop.index0] }}
    shutdown: false
{%     if switch.p2p_link_interface_speed is defined %}
    speed: {{ switch.ptp_link_interface_speed }}
{%     endif %}
    mtu: {{ ptp_link_mtu }}
    type: routed
    ptp:
      enable: true
      announce:
        interval: 0
      delay_req: -3
      sync_message:
        interval: -3
{% endfor %}