{# Point-to-Point Interfaces to Leaf Switches #}
{% for leaf_group in leaf | arista.avd.natural_sort %}
{%   for node in leaf[leaf_group].nodes %}
{%     set  leaf_spines = leaf[leaf_group].nodes[node].spines %}
{%     set  spine_interfaces = leaf[leaf_group].nodes[node].spine_interfaces %}
{%     set  uplink_to_spine_interfaces = leaf[leaf_group].nodes[node].uplink_to_spine_interfaces %}
{%     set  p2p_ip_addresses = leaf[leaf_group].nodes[node].p2p_ip_addresses  %}
{%     for leaf_spine in leaf_spines %}
{%       if leaf_spine == inventory_hostname %}
  {{ spine_interfaces[loop.index0] }}:
    peer: {{ node }}
    peer_interface: {{ uplink_to_spine_interfaces[loop.index0] }}
    peer_type: l3leaf
    description: P2P_LINK_TO_{{ node | upper }}_{{ uplink_to_spine_interfaces[loop.index0] }}
    shutdown: false
{%         if p2p_link_interface_speed is defined %}
    speed: {{ p2p_link_interface_speed }}
{%         endif %}
    mtu: {{ p2p_uplinks_mtu }}
    type: routed
    ip_address: {{ p2p_ip_addresses[loop.index0] | ipaddr('peer') }}/31
    pim:
      ipv4:
        sparse_mode: true
    ptp:
      enable: true
      announce:
        interval: 0
      delay_req: -3
      sync_message:
        interval: -3
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endfor %}
