{# Add one blank line after each included template #}
{% set underlay_data = namespace() %}
{% include 'designs/rt-media/underlay/logic.j2' %}

{% include 'designs/rt-media/underlay/interfaces/ethernet-interfaces.j2' %}

{% include 'designs/rt-media/underlay/interfaces/port-channel-interfaces.j2' %}

{# EBGP #}
{% if switch.underlay_router is arista.avd.defined(true) %}
{% include 'designs/rt-media/underlay/interfaces/loopback-interfaces.j2' %}

{%     if switch.underlay_routing_protocol == "ebgp" %}

{%         if type == "leaf_red" %}
{%             include 'designs/rt-media/underlay/ebgp/router-bgp-leaf-red.j2'%}
{%         else %}
{%             include 'designs/rt-media/underlay/ebgp/router-bgp.j2'%}
{%         endif %}

{%             include 'designs/rt-media/underlay/ebgp/prefix-lists.j2' %}

{%             include 'designs/rt-media/underlay/ebgp/route-maps.j2' %}

{%             include 'designs/rt-media/underlay/ebgp/community-lists.j2' %}

{%     endif %}
{% endif %}
